<div class="container-xxl terminal-dark roboto">
  <div class="row terminal-dark roboto d-flex justify-content-md-between justify-content-end">
    <div class="title col text-primary">
      <span>{{title}}</span>
    </div>
    <div class="col-lg-4 col-sm col-md col-8 d-flex flex-lg-row flex-md-column flex-sm-column flex-row justify-content-between">
        <div *ngFor="let component of components" class="nav align-items-end justify-content-end">
          <a [href]="'#'+component.name">{{component.name}}</a>
        </div>
    </div>
    <div>
  </div>
</div>
