//custom variables
$primary: #ECDBBA;
$secondary: #28292D;
$info: #C84B31;


$font-family-sans-serif: 'Ubuntu Mono', monospace;


//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

