
.roboto {
  font-family: 'Roboto Mono', monospace;
}

.title {
  height: 5rem;
}

.min-vh-75 { min-height: 75vh; }

.min-vh-50 { min-height: 50vh; }

.min-vh-25 { min-height: 25vh; }

.min-vh-10 { min-height: 10vh; }

.nav {
  /* font-size: 20px; */
}

.nav a {
  color: #ECDBBA;
  text-decoration: none;
}

.nav a:hover {
  color: #C84B31;
  text-decoration: none;
}

.wrap {
  display: flex;
}

.wrap span {
  align-self: flex-end;
}

.pink {
  background-color: pink;
}

.blue {
  background-color: blue;
}