.terminal-dark {
  background-color: #28292D;
  color: #ECDBBA;
  font-family: 'Ubuntu Mono', monospace;
}

.terminal-light {
  background-color: #ECDBBA;
  color: #28292D;
  font-family: 'Ubuntu Mono', monospace;
}

.bookend {
  background-color: #C84B31;
}

.roboto {
  font-family: 'Roboto Mono', monospace;
}

.title {
  height: 5rem;
}

.nav {
  font-size: 20px;
}

.nav a {
  color: #ECDBBA;
  text-decoration: none;
}

.nav a:hover {
  color: #C84B31;
  text-decoration: none;
}

.flex {
  display: flex;
}

.wrap {
  display: flex;
}

.wrap span {
  align-self: flex-end;
}

.pink {
  background-color: pink;
}

.blue {
  background-color: blue;
}